//====================================================================================================
.btn {
    font-weight: 500;
    font-size: toRem(17);
    line-height: 150%;
    letter-spacing: 4px;
    color: #ffffff;
    background-color: #0a0a0a;
    padding: 12px 45px 12px 45px;
    border-radius: 25px;
    &:hover {
        transition: all 0.3s;
        color: #a1a483;
    }
}

// section-two

.section-two {
    padding: toRem(130) toRem(0) toRem(0) toRem(0);
    @media (max-width: $mobile) {
        padding: toRem(109) toRem(24) toRem(0) toRem(24);
    }
    &__row {
        display: flex;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_left-- {
            flex: 1 1 50%;
            padding: 10% 4.5% 9.2% 6.5%;
            background-color: #eeeeee;
            @media (max-width: $mobile) {
                flex: 1 1 100%;
            }
        }

        &_right-- {
            flex: 0 1 50%;

            @media (max-width: $mobile) {
                flex: 1 1 100%;
            }
        }
    }

    &__text-box {
        padding: 0px 4.5% 0% 0%;
    }

    &__subtitle {
        font-weight: 500;
        font-size: toRem(14);
        line-height: 19px;
        text-align: left;
        letter-spacing: 1.3px;
        margin: toRem(0) toRem(0) toRem(14) toRem(0);
    }

    &__title {
        font-weight: 700;
        font-size: toRem(70);
        line-height: 110%;
        margin: toRem(0) toRem(0) toRem(22) toRem(0);

        @media (max-width: toEm(1115)) {
            font-size: toRem(45);
        }
    }

    &__text {
        font-weight: 400;
        font-size: toRem(18);
        line-height: 150%;

        margin: toRem(0) toRem(0) toRem(34) toRem(0);
    }

    &__btn {
        @media (max-width: $mobile) {
            margin: toRem(0) toRem(0) toRem(36) toRem(0);
        }
    }

    &__column-image {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            top: 24.5%;
            left: 50%;
            background: url("@img/section-two/1.png") 0 0 no-repeat;
            @media (max-width: $mobile) {
                background: url("@img/section-two/2.png") 0 0 no-repeat;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            top: 56%;
            left: 68.9%;
            background: url("@img/section-two/1.png") 0 0 no-repeat;
            @media (max-width: $mobile) {
                background: url("@img/section-two/2.png") 0 0 no-repeat;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// section-three

.section-three {
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: toRem(145);
        font-weight: 500;
        font-size: toRem(20);
        line-height: 26px;
        text-align: center;
        &:hover {
            transition: all 0.3s;
            color: #a1a483;
        }
    }
}

// section-four

.section-four {
    &__row {
        display: flex;
        margin: 0px -7.5px 0px -7.5px;
        @media (max-width: toEm(990)) {
            flex-wrap: wrap;
            padding: toRem(0) toRem(24) toRem(0) toRem(24);
        }
    }

    &__column {
        position: relative;
        padding: toRem(120) toRem(0) toRem(0) toRem(0);
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 7.5px 0px 7.5px;
        @media (max-width: toEm(990)) {
            margin: toRem(0) toRem(0) toRem(20) toRem(0);
            flex: 1 1 100%;
        }
        &_one {
            background-color: #e1e4c2;
        }
        &_two {
            background-color: #dceeee;
        }
        &_three {
            background-color: #f3efe1;
            @media (max-width: toEm(990)) {
                margin: 0px 0px 0px 0px;
            }
        }
    }

    &__subtitle {
        &::before {
            content: "NEW COLLECTION";
            position: absolute;
            text-align: center;
            top: 50px;
            left: 0;
            width: 100%;
            font-weight: 500;
            font-size: toRem(14);
            line-height: 19px;
            letter-spacing: 1.35px;
            display: inline-block;
        }
    }

    &__title {
        font-weight: 600;
        font-size: toRem(40);
        line-height: 120%;
        margin: toRem(0) toRem(0) toRem(15) toRem(0);
        flex: 1 1 100%;
        text-align: center;
    }

    &__btn {
        font-size: toRem(16);
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        padding: 12px 45px 12px 45px;
        padding: toRem(12) toRem(30) toRem(12) toRem(30);
    }
}

// section-five

.section-five {
    padding: toRem(80) toRem(20) toRem(80) toRem(20);
    @media (max-width: $mobile) {
        padding: toRem(55) toRem(20) toRem(55) toRem(20);
    }
    &__container {
        max-width: toRem(847);
    }

    &__row {
        @media (max-width: $mobile) {
            text-align: center;
        }
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & a {
            &:hover {
                transform: scale(1.05);
                transition: all 0.2s 0s;
            }
        }
    }
    &__img {
        @media (max-width: $mobile) {
            padding: 0px 40px 0px 0px;
        }
        @media (max-width: toEm(420)) {
            padding: 0px 10px 0px 0px;
        }

        &_2 {
            @media (max-width: toEm(420)) {
                padding: 0px 0px 0px 0px;
            }
        }

        &_3 {
            @media (max-width: toEm(559)) {
                display: none;
            }
        }

        &_4 {
            @media (max-width: $mobile) {
                padding: 0px 0px 0px 0px;
                @media (max-width: toEm(322)) {
                    padding: 20px 0px 0px 0px;
                }
            }
        }

        &_5 {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
}

.section-six {
    position: relative;
    padding: 92px 20px 15.7% 20px;
    @media (max-width: $mobile) {
        padding: 35px 20px 15.7% 20px;
    }

    &__container {
        max-width: toRem(886);
    }
    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__subtitle {
        position: relative;
        z-index: 10;
        font-weight: 500;
        font-size: toRem(14);
        line-height: 19px;
        align-items: center;
        letter-spacing: 1.35px;
        color: #ffffff;
        margin: toRem(0) toRem(0) toRem(15) toRem(0);
    }

    &__title {
        position: relative;
        z-index: 11;
        font-weight: 600;
        font-size: toRem(40);
        line-height: 120%;
        color: #ffffff;
        margin: toRem(0) toRem(0) toRem(33) toRem(0);
    }

    &__button {
        position: relative;
        z-index: 12;
    }

    &__btn {
        padding: 12px 35px 12px 35px;
    }
}

// section-seven

.section-seven {
    padding: toRem(93) toRem(0) toRem(85) toRem(0);
    @media (max-width: $mobile) {
        padding: toRem(78) toRem(0) toRem(75) toRem(0);
    }

    &__row {
        display: flex;
        margin: 0px 0px 0px 0px;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__column {
        flex: 0 1 33.333%;
        margin: 0px 0px 0px 0px;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            padding: toRem(0) toRem(10) toRem(0) toRem(10);
            margin: toRem(0) toRem(0) toRem(75) toRem(0);
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
    }

    &__image {
        text-align: center;
        margin: toRem(0) toRem(0) toRem(15) toRem(0);
        position: relative;
    }

    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.15px;
        text-align: center;
        margin: toRem(0) toRem(0) toRem(15) toRem(0);
    }

    &__text {
        font-size: 17px;
        line-height: 150%;
        letter-spacing: 0.25px;
        text-align: center;
        padding: toRem(0) toRem(50) toRem(0) toRem(50);
        @media (max-width: $tablet) {
            padding: toRem(0) toRem(20) toRem(0) toRem(20);
        }
    }
}
// section-eight

.section-eight {
    padding: toRem(0) toRem(54) toRem(0) toRem(54);

    &__title {
        font-weight: 600;
        font-size: toRem(40);
        line-height: 120%;
        text-align: center;
        margin: toRem(0) toRem(0) toRem(50) toRem(0);
        @media (max-width: $mobile) {
            margin: toRem(0) toRem(0) toRem(33) toRem(0);
        }
    }

    &__image {
        position: relative;
        padding: 0px 0px 46.647% 0px;
        &::before {
            content: "";
            position: absolute;
            z-index: 80;
            background: url("@img/section-eight/1.svg") 0 0 no-repeat;
            width: 32px;
            height: 32px;
            top: 63%;
            left: 27%;
            @media (max-width: $mobile) {
                background: url("@img/section-eight/2.svg") 0 0 no-repeat;
            }
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 80;
            background: url("@img/section-eight/1.svg") 0 0 no-repeat;
            width: 32px;
            height: 32px;
            top: 51%;
            left: 82%;
            @media (max-width: $mobile) {
                background: url("@img/section-eight/2.svg") 0 0 no-repeat;
            }
        }

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__row {
        margin: toRem(25) toRem(0) toRem(0) toRem(0);
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            margin: toRem(50) toRem(0) toRem(0) toRem(0);
        }
    }

    &__column {
        &_text-box {
            flex: 0 1 40%;
        }
        &_btn {
            display: flex;
            align-items: end;
        }
    }

    &__column-title {
        font-weight: 600;
        font-size: toRem(22);
        line-height: 28px;
        margin: toRem(0) toRem(0) toRem(12) toRem(0);
    }

    &__column-text {
        font-size: toRem(17);
        line-height: 150%;
        @media (max-width: $mobile) {
            margin: toRem(0) toRem(0) toRem(25) toRem(0);
        }
    }

    &__column-button {
        padding: 12px 35px 12px 35px;
    }
}

// section-nine

.section-nine {
    padding: toRem(80) toRem(12.5) toRem(80) toRem(12.5);
    @media (max-width: $mobile) {
        padding: toRem(75) toRem(12.5) toRem(59) toRem(0);
    }
    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        margin: toRem(0) toRem(0) toRem(50) toRem(0);
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 25%;
        padding: 0px 7.5px 60px 7.5px;
        @media (max-width: $mobile) {
            flex: 0 1 50%;
        }

        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }

    &__image {
        position: relative;
        padding: 0px 0px 88.295% 0px;
        margin: toRem(0) toRem(0) toRem(13) toRem(0);
        & a {
            &:active {
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 90;
                    width: 20px;
                    height: 20px;
                    background-color: #ff7114;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                }
            }

            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 90;
                    width: 22px;
                    height: 22px;
                    border: 4px solid #ffffff;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                }
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 90;
                    width: 20px;
                    height: 20px;
                    border: 2px solid #ff7114;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                }
            }
        }

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__item-box {
        display: flex;
        justify-content: space-between;
    }

    &__item-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 28px;
        flex: 1 1 100%;
    }

    &__item-price {
        font-size: 17px;
        line-height: 24px;
        align-items: center;
        letter-spacing: 0.15px;
    }

    &__item-right {
        &:hover {
            transform: scale(1.03);
            transition: all 0.2s;
        }
    }
}

//====================================================================================================
